.parent
{
    position: relative;
    height: 100vh;
}

.set
{
    /* height: 300px; 
    width:  300px; 
    border: 2px solid orange; 
    position:absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-40%);  */
}